<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	
	<title>Annexis</title>
</head>
<body bgcolor="#dddddd" style="margin:0px;">
<div style="background:url(http://annexis.net/images/email/logo-bg.jpg); background-repeat:no-repeat; min-height:314px; max-width:583px; margin:auto; background-size:100% 100%;">
<div style="width: 47%;margin-left: 14%;margin-top: 6%;float: left;"><a href="http://annexis.net"><img src="http://annexis.net/images/email/logo.jpg" style="max-width:100%;" /></a></div>
</div>

<div style="min-height:160px; margin:auto;background: #3388ad; max-width: 600px; background-image:url(http://annexis.net/images/email/login-bg.jpg); background-position:bottom; background-repeat:no-repeat; padding-bottom:15px;">
<h1 style="padding:0px; margin:0px; text-align:center; font-family: arial;
color: #ff7800; padding-top: 15px; font-size:38px; padding-bottom:5px;">ANNEXIS</h1>

<p style="text-align: center; margin: 0px; color: rgb(255, 255, 255); font-size: 30px; font-family: arial; font-weight: bold;">Let us be your bridge to Expansion<br />
and Growth</p>
</div>

<div style="min-height: 210px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; max-width: 544px; margin: auto; border-bottom: 3px solid rgb(49, 175, 154); padding: 15px; position:relative;">
<h2 style="margin: 0px; padding: 0px; font-family: arial; font-size: 16px;">Virtual Office and Local Number in all States</h2>
<img align="" src="http://annexis.net/images/email/image-1.jpg" style="float: left; margin-right: 15px; margin-top: 20px;" />
<p style="font-family: arial; font-size: 14px; line-height: 22px; margin-top: 34px;">No need to spend thousands on office space, we offer more than 300 locations to choose from at incredible rates.

<div style="width: 100%; min-height: 15px;"></div>
<a href="http://annexis.net/virtual-office-location.html" style="position: absolute; right: 2px; bottom: 0px; text-decoration: none; background: rgb(48, 173, 157) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 7px 15px; border: 1px solid rgb(255, 255, 255); outline: 2px solid rgb(48, 173, 157); font-family:Arial, Helvetica, sans-serif; font-weight: bold;">LEARN MORE</a></div>

<div style="max-width:574px; min-height:100px;margin: auto;">
<div style="margin:3% 3% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s1.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">LEGAL SUPPORT</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px;">Full service Law Firm at your disposal to support in all legal matters Business Incorporation, contract Reviews and Writing or Immigration Services
</div>

<div style="margin:3% 0% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s2.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">Live Receptionist</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px;   min-height: 140px;">Someone has to be there when the phone ring.  Don’t let the time different be a serious concern.  We can be there to greet your clients, receive parcels and answer your call.
</p>
</div>

<div style="margin:3% 3% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s3.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">Sales Representative</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px;">When opportunity arise, being able to capitalize is crucial.  We have available sales representative that you can train and deploy as needed to reach your objectives.
</p>
</div>

<div style="margin:3% 0% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s4.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">Mail Handling &amp; Delivery</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px;">Dedicated account to immediately listen / view / respond to all of your massages (voice and paper) upon arrival &ndash; no delays.</p>
</div>

<div style="margin:3% 3% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s5.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">Marketing Support</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px;">Full staff of expert professional to assist you to design / develop / and register your website in US.  Direct mail, email campaign are also our specialty.</p>
</div>

<div style="margin:3% 0% 0% 0%; background-color:#FFFFFF; min-height:200px; width:48.5%; float:left;"><img src="http://annexis.net/images/email/s6.jpg" style="width:100%; min-height:172px;" />
<h2 style="background-color:#000000; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; margin:0px; font-weight: normal;font-size: 18px; padding: 10px;">FUNDRASING Consulting</h2>

<p style="margin: 0px; padding: 10px; line-height: 20px; font-family: arial; font-size: 14px; min-height:100px;">ANNEXIS has a proven system to guide your company through the journey of raising credit based capital in the US.</p>
</div>

<div style="font-size:30px; color:#000; text-align:center; font-family:Arial, Helvetica, sans-serif; width:100%; margin:20px 0 0 0; float:left;">Headquarters <span style="font-size:36px; font-weight:bold;">800-816-9554</span></div>

<div style="font-size:30px; color:#000; text-align:center; font-family:Arial, Helvetica, sans-serif; width:100%; margin:20px 0 0 0; float:left;">India Office <span style="font-size:36px; font-weight:bold;">+91 9818119692</span></div>
</div>

<div style="max-width:640px; width:100%; margin:auto; padding-top: 30px; clear: both;"><img src="http://annexis.net/images/email/image-3.jpg" style="width: 100%;" width="640" /></div>

<div style="max-width:640px; width:100%; margin:auto; background-color:#ffffff;"><a href="http://annexis.net" style="text-decoration: none; cursor:pointer; margin-right: 100px; margin-top: 10px; float: right;"><img src="http://annexis.net/images/email/image-4.png" /></a>

<div style="max-width:530px; width:100%; margin:auto">
<ul style="margin:0; padding:0; list-style-image:url(http://annexis.net/images/email/arrow.png); padding-left: 45px; font-family:Arial, Helvetica, sans-serif; font-size:18px; padding-bottom:20px;">
	<li style="line-height:28px;">Business Address</li>
	<li style="line-height:28px;">Dedicated phone number</li>
	<li style="line-height:28px;">Mail Handling and delivery with
	<ul style="list-style:disc; font-size:12px;">
		<li style="line-height:28px;">24 hour access to scan pages of all mail and email you receive</li>
		<li style="line-height:28px;">Shipping of pail to your location</li>
	</ul>
	</li>
	<li style="line-height:28px;">Dedicated Tel. Number line with professional recorded business greeting with voice over.</li>
</ul>
</div>
</div>

<div style="max-width:640px; width:100%; margin:auto; background-color:#dddddd; ">
<p style="text-align:center; line-height: 60px; font-size: 12px; font-family: arial; color: #202020;     margin: 0;">Copyright 2015. All rights reserved.</p>
</div>

<div style="max-width:600px; width:100%; margin:auto; background-color:#ffffff; padding:20px;">
<p style="width:100%; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000;">This email was sent by <a style="color:#0060fe;">customerservice@annexis.net</a> To remove your company from our list <a href="mailto:removal@annexis.net?Subject=Please%20remove%20my%20name%20from%20you%20email%20list%20-%20Not%20Interested" style="color:#0060fe;">removal@annexis.net</a> | <a href="#" style="color:#0060fe;">Privacy Policy</a>.</p>

<p style="width:100%;font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000;">Annexis Business Solutions, LLC | 110 SE 6th Street Suite 1700 Ft. Lauderdale, Florida 33301</p>
</div>
</body>
</html>
