<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="utf-8">
<title>Annexis Design</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/responsive.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="rs-plugin/css/captions.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/boxed_960.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/options.css" rel="stylesheet">
    <link href="assets/css/commander.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="assets/nivo/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext%2Ccyrillic&amp;ver=3.4.2" id="gOpenSans-css" media="all" rel="stylesheet" type="text/css"/>
    <!-- Le fav and touch icons -->
    <link href="assets/commander/favicon.html" rel="shortcut icon">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="assets/css/ie.css"/>
    <![endif]-->
    <!-- FlexSlider --><script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/core.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery.tabSlideOut.v1.3.js"></script>
  </head>

<body>
<!--PAGE HEAD-->
     <div class="top_line">
      <div class="container">
        <div class="row">
          <div class="span6">
            <!--<p class="feed">Subscribe to be notified for updates: <a href="http://html.orange-idea.com/feed">RSS Feed</a></p>-->
          </div>
          <div class="span6 soc_icons">
          <div class="span6 soc_icons"> <a href="signup.html"><img src="assets/images/singup.png"/></a> <a href="user/index.php"><img src="assets/images/login.png"/></a> 
          	<a href="https://plus.google.com/u/0/105981399301260936627/posts" target="_blank">
            <div class="icon_google"></div>
            </a> <a href="https://www.facebook.com/annexisbusinesssolutions?ref=hl" target="_blank">
            <div class="icon_facebook"></div>
            </a> <a href="https://twitter.com/AnnexisBusiness" target="_blank">
            <div class="icon_t"></div>
            </a> </div>
        </div>
        </div>
      </div>
    </div>
    <!-- END TOP LINE-->
    <!--PAGE HEAD-->
    <div class="page_head">
      <div class="container">
        <div class="row">
          <div class="span3">
            <!--START LOGO IMAGE-->
            <div class="logo">
              <a href="index.html">
              <img src="assets/images/logo.png"/></a>
            </div>
            <!-- END LOGO IMAGE-->
          </div>
          <div class="span9">
            <!-- START MAIN MENU-->
            <nav>
              <ul class="menu">
            	 <li><a href="about-us.html">About <br/> Annexis <br/>
                 </a> 
                 <ul class="sub-menu">
                  <li><a href="blog-news.html">Blog & News </a> </li>
                  <li><a href="testimonial.html">Testimonials </a> </li>
                  </ul>
                 </li>
                <li class="active"><a href="virtual-office-location.html">Office <br/>
                  Locations </a> 
                </li>
                <li><a href="receptionist-services.html">Receptionist <br/>
                  Services </a> 
                </li>
                <li>
                  <a href="marketing-branding.html">Marketing <br/>
                  & branding</a> 
                  <ul class="sub-menu">
                    <li><a href="web-design-development.html">Web Design & Development</a></li>
                    <li><a href="brochure-design.html">Brochure Design</a></li>
                    <li><a href="mobile-application-design-development.html">Mobile Application Design & Development</a></li>
                    <li><a href="Aannexis-Business-Database.html">ANNEXIS Business Database</a></li>
                    <li><a href="email-marketing.html">Email Marketing</a></li>
                    <li><a href="direct-mail-marketing.html">Direct Mail Marketing</a></li>
                  </ul>
                </li>
                <li>
                  <a href="Consultings-Services.html">Consulting<br/>Services</a>
                  <ul class="sub-menu">
                    <li><a href="sales-consulting-services.html">Sales Consulting Services</a></li>
                    <li><a href="tax-consulting-services.html">Tax Consulting Services</a></li>
                    <li><a href="legal-consulting-services.html">Legal Consulting Services</a></li>
                    <li><a href="fundraising-consulting-services.html">Fundraising Consulting Services</a></li>
</ul>
			 </li>
			 
              <li><a href="Compare-and-buy.html">Membership<br>Packages</a> </li>
              <li><a href="contact.html">Contact Us <br/>
                  <img src="assets/images/phone-icon.png"/> 800.816.9554</a></li>
              </ul>
            </nav>
            <!-- END MAIN MENU-->
          </div>
        </div>
      </div>
    </div>
  <!--/PAGE HEAD-->
  
  
  
   <!--WELCOME AREA-->
                <div class="tag_line">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="welcome"> 
                                     <h2> 
<strong>SILVER  MEMBERSHIP PACKAGE  </strong> 
</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 <!--/WELCOME AREA-->
  
 


<div class="main_content_area wide_cont">
    <div class="container"> 
      <!-- Recent From the Blog -->
      <div class="h-greysmall">
      <div class="h-padding">
<h1> <img src="images/services4.png">STANDARD &nbsp;MEMBERSHIP-$6</h1>
	<div class="silder_top">
    <!--<h4>Virtual Address- Professional Business US Address</h4>-->
    </div>
    <div class="benifitlist">
    	<ul>
        	<li>
            	<span><img alt="search" src="images/benifit1.png"></span>
                <p>Promote your business on popular search engines such as Bing, Google, Yahoo etc… when we conduct SEO and social media advertisement on your behalf.</p>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
    <!--<div class="h-h2">MAIL HANDLING AND DELIEVERY-</div>
<ul class="h-tick">
<li> Scan all pages of your mail and email them to you same day received.</li>
<li>Ship mails through a reputable international courier like FEDEX or DHL at Location of your choosing .</li>
</ul>

<div class="h-h2">Local US Tel. Number</div>
<p class="h-pra">Professiona; Recorder Voice Over with Menu Instructions Email Notification-Messages (Mail & Audio)</p>


<ul class="h-tick">
<li>Professionally recorder business greeting with voice over.</li>
<li>Voice mail forwarded to your email.</li>
<li>Auto Attendant to professionally great clients customs audio messages with menu options</li>
<li>Daily report with call lot of incoming, outgoing and missed calls.</li>
<li>Call Transfer to any number you wish.</li>
</ul>-->
<div class="clr"></div>

	
	</div></div>

    
<div class="h-right">
                <div class="get-started-main">
                        <h1>
                          Get Started Here
                        </h1>
                        <form class="get-form">
                          <input type="text" placeholder="Full Name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Phone Number">
                            <div class="demo">
                              <div class="control-group">
                                <select id="select-beast" class="demo-default" placeholder="Select a person...">
                                  <option value="">
                                    Select Product
                                  </option>
                                  <option value="1">
                                    Standard
                                  </option>
                                  <option value="2">
                                    Silver
                                  </option>
                                  <option value="3">
                                    Gold
                                  </option>
                                  <option value="4">
                                    Platinum
                                  </option>
                                </select>
                              </div>
                              
                            </div>
                            <p>
                              By clicking inquiry now you agree to 
                              term and conditions
                            </p>
                            
                            <button class="btn-submit">
                              Get a Quote
                            </button>
                            
                        </form>
                        
                        
                        </div>
                <div class="video">
        <a href="video/annexis-video.mp4">
          <img src="images/video.png" alt="">
        
          <img src="images/play.png" alt="" class="play">
        </a>
        </div>
                <div class="services">
                  <h1>
                    Membership Package
                  </h1>
                  <ul>
                    <li>
                      <a href="standard.html"><img src="images/services4.png"></a>
                      <h5>
                        Standard
                      </h5>
                    </li>
                    <li>
                      <a href="silver.html"><img src="images/services1.png"></a>
                      <h5>
                        Silver
                      </h5>
                    </li>
                    
                    <li>
                       <a href="Gold.html" ><img src="images/services2.png"></a>
                      <h5>
                        Gold
                      </h5>
                    </li>
                    
                    <li>
                      <a href="Platinum.html"><img src="images/services3.png"></a>
                      <h5>
                        Platinum
                      </h5>
                    </li>
                    
                  </ul>
                  <h3>
                    
                    <a href="Compare-and-buy.html">
                      Compare ANNEXIS Membership
                    </a>
                  </h3>
                </div>
                <div class="signupbanner">
                <a href="Compare-and-buy.html">
                  <img src="images/business-directory-banner.png" alt="" class="">
                </a>
                </div>
                <div class="signupbanner">
                <a href="Compare-and-buy.html">
                  <img src="images/signupnow-banner.png" alt="" class="">
                </a>
                </div>
                <div class="benifits">
                	<h1>Features &amp; Benefits</h1>
                    <ul>
                    	<li>Get found on the top search engines in US google Bing Yahoo and many more</li>
                        <li>Get direct communications with potential clients and buyers and receive messages directly</li>
                        <li>Respond to your queries through the Annexis dashboard</li>
                        <li>Be one of the businesses in our business directory magazine and get your business features posted not monthly newsletters</li>
                        <li>Get a beautifully designed landing page of your business and list all your products and services and get promoted in US</li>
                    </ul>
                </div>
            </div>

</div>
</div>
<div class="footer_upper_div">
	<div class="container">
    	<div class="left_upper">
        	<div class="upper_txt">
            	<h4>1 Month Free</h4>
                <p>When you buy 12 months<br> Bussiness World Online</p>
                <a href="http://www.annexis.net/user/create-account.php" class="buy_now">Buy Now ></a>
            </div>
           <div class="get_in"><span>Contact Us</span> <a href="#" style="color:red">Call us today at +1-855-400-3575</a></div>
        </div>
        <div class="right_upper">
        	<div class="request_div">
            	<div class="req_form">
                	<h2>Request Info</h2>
                    <form>
                    	<p><input class="input-field" type="text" name="name" placeholder="Name*"></p>
                        <p><input class="input-field" type="text" name="email address" placeholder="Email Address*"></p>
                        <p><a href="#">By clicking</a> <button class="go_next">Go ></button></p>
                    </form>
                </div>
                <a href="http://annexis.net/virtual-office-location.html" class="view_location">View Our US locaion</a>
            </div>
        </div>
    </div><!--container-->
</div>
<div style="clear:both"></div>
  <!--FOOTER--> 
  
  <!-- START WIDGET AREA AND SOCIAL ICONS -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="textwidget"> <a href="#"> <img src="assets/images/footer-logo.png"/> </a> <br>
            <br>
            <div class="textwidget">
              <ul class="unstyled">
                <li><i class="icon-call"></i> +1 800.816.9554</li>
                <li><i class="icon-call"></i> +91-9818-11-9692</li>
                <li><i class="icon-envelope icon-white"></i> <a href="mailto:info@annexis.net">info@annexis.net</a></li>
                <li><i class="icon-map-marker icon-white"></i> 110 SE 6th Street Suite 1700 ▪ Ft. Lauderdale, Florida 33301</li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="span2 pull-right">
          <h5>Follow Us</h5>
          <hr>
        <div class="textwidget">
                    <div class="connectwithus">
                    <ul>
					<li class="first"><a href="https://www.linkedin.com/grp/home?gid=6711409&sort=POPULAR" title="Linked In" class="linked-in" target="_blank"><img src="images/footer-linkedin.png" alt="Linked In" border="0"></a></li>
					<li><a href="https://www.youtube.com/channel/UCprlEiBmIlIPuxvIPWoSJZg" title="Youtube" class="youtube" target="_blank"><img src="images/footer-youtube.png" alt="Youtube" border="0"></a></li>
					<li><a href="https://twitter.com/AnnexisBusiness" title="Twitter" class="twitter" target="_blank"><img src="images/footer-twitter.png" alt="Twitter" border="0"></a></li>
					<li><a href="https://www.facebook.com/annexisbusinesssolutions?ref=hl" title="Facebook" class="facebook" target="_blank"><img src="images/footer-facebook.png" alt="Facebook" border="0"></a></li>
					<li class="last"><a href="https://plus.google.com/u/0/105981399301260936627/posts" title="Google Plus" class="googleplus" target="_blank"><img src="images/footer-googleplus.png" alt="RSS" border="0"></a></li>
					</ul>
                </div>
            </div>
            
            </div>
        
        <div class="span5 pull-right">
          <h5>Quick Links</h5>
          <hr>
          <div class="h-textwidget">
            <ul class="unstyled">
              <li> <a href="virtual-office-location.html"> Offices</a></li>
              <li> <a href="receptionist-services.html"> Receptionist </a></li>
              <li> <a href="marketing-branding.html"> Marketing & Branding </a></li>
              <li> <a href="sales-consulting-services.html"> Sales Consulting</a></li>
              <li> <a href="tax-consulting-services.html"> Tax Consulting</a></li>
              <li> <a href="legal-consulting-services.html"> Legal Representation </a></li>
              <li> <a href="fundraising-consulting-services.html"> Fundraising Consulting </a></li>
              <li class="startprmotlink"> <a href="user/create-account.php"> Start Promoting for Free </a></li>
            </ul>
          </div>
        </div>
        
        
        
        
        
        <!-- END WIDGET --> 
        
      </div>
    </div>
  </div>
                <!-- END WIDGET AREA AND SOCIAL ICONS -->

                <!--START BOTTOM LINE-->
                <div class="bottom_line">
                    <div class="container">
                        <div class="row">
                            <!-- START COPYRIGHT INFORMATION-->
                            <div class="span6">
                                <span style="font-size:14px;">Copyright 2014 Annexis. Design by <a href="http://appalmighty.com/">AppAlmighty LLC, Florida</a></span>
                            </div>
                            <!-- END COPYRIGHT INFORMATION-->

                            <div class="span6">
                               <!-- START FOOTER MENU-->
                               <div class="copyright pull-right visible-desktop">
            <div class="menu-footer-menu-container">
              <ul class="unstyled footer_menu" id="menu-footer-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                <li><a href="trems-&-conditions.html">Terms & Condition</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
                            <!-- END FOOTER MENU-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END BOTTOM LINE-->
            <!--END FOOTER-->
    </div>
    </div>
    </div>
    </div>
    <!--END BOTTOM LINE-->
    <!--END FOOTER-->
    </div>
    </div>
    <a href="#" class="scrollToTop"></a>
    
  </body>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/core.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <!-- jQuery REVOLUTION Slider  -->
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="assets/js/jquery.tweet.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/superfish-menu/superfish.js"></script>
  <script src="assets/js/jquery.nivo.slider.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/jflickrfeed.min.js"></script>
  <script src="assets/js/testimonialrotator.js"></script>
  <script src="assets/js/jquery.waitforassets/images/.js"></script>
  <script src="assets/js/jquery.isotope.min.js"></script>
  <script src="flexslider/jquery.flexslider-min.js"></script>
  <script src="assets/js/custom.js"></script>
  <script type="text/javascript">
    jQuery.noConflict()(function ($) {
      $(window).load(function() {
       $('.flexslider').flexslider({animation: "slide", controlNav: false,});
    });
    });
  </script> 
  <script type="text/javascript">
    var tpj=jQuery;
    
    tpj.noConflict();
    
    var revapi2;
    
    tpj(document).ready(function() {
    
        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;
    
        if(tpj('#rev_slider_2_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_2_1');
        else
           revapi2 = tpj('#rev_slider_2_1').show().revolution(
           {
            delay:9000,
            startwidth:770,
            startheight:440,
            hideThumbs:200,
    
            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:3,
    
            navigationType:"none",
            navigationArrows:"verticalcentered",
            navigationStyle:"navbar",
    
            touchenabled:"on",
            onHoverStop:"on",
    
            navOffsetHorizontal:0,
            navOffsetVertical:20,
    
            shadow:0,
            fullWidth:"on",
    
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
    
            shuffle:"off"
        });
    
    }); //ready
  </script>
  <script type="text/javascript" src="assets/js/tabslide.js"></script>
  <script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
</html>