<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Annexis Design</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="../w.sharethis.com/button/buttons.js"></script><script type="text/javascript" src="../s.sharethis.com/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/responsive.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="rs-plugin/css/captions.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="images/assets/css/bootstrap.css" rel="stylesheet">
    <link href="images/assets/css/main.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/boxed_960.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/css/options.css" rel="stylesheet">
    <link href="assets/css/commander.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="assets/nivo/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
    <link href="assets/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext%2Ccyrillic&amp;ver=3.4.2" id="gOpenSans-css" media="all" rel="stylesheet" type="text/css"/>
    <!-- Le fav and touch icons -->
    <link href="assets/commander/favicon.html" rel="shortcut icon">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="assets/css/ie.css"/>
    <![endif]-->
    <!-- FlexSlider -->
  </head>
  <body>
  
    <div class="wide_cont">
    <!-- START TOP LINE-->
    <div class="top_line">
      <div class="container">
        <div class="row">
          <div class="span6">
            <!--<p class="feed">Subscribe to be notified for updates: <a href="http://html.orange-idea.com/feed">RSS Feed</a></p>-->
          </div>
          <div class="span6 soc_icons">
            <div class="span6 soc_icons">
              <a href="#"><img src="assets/images/singup.png"/></a>
              <a href="#"><img src="assets/images/login.png"/></a>                              
              <a href="http://plus.google.com/" target="_blank">
                <div class="icon_google"></div>
              </a>
              <a href="http://facebook.com/" target="_blank">
                <div class="icon_facebook"></div>
              </a>
              <a href="http://twitter.com/" target="_blank">
                <div class="icon_t"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END TOP LINE-->
    <!--PAGE HEAD-->
    <div class="page_head">
      <div class="container">
        <div class="row">
          <div class="span3">
            <!--START LOGO IMAGE-->
            <div class="logo">
              <a href="index.html">
              <img src="assets/images/logo.png"/></a>
            </div>
            <!-- END LOGO IMAGE-->
          </div>
          <div class="span9">
            <!-- START MAIN MENU-->
            <nav>
              <ul class="menu">
                <li><a href="about-us.html">About <br/> Annexis <br/>
                  </a> 
                </li>
                <li class="active"><a href="virtual-office-location.html">Virtual Office <br/>
                  Locations </a> 
                </li>
                <li><a href="receptionist-services.html">Receptionist <br/>
                  Services </a> 
                </li>
                <li>
                  <a href="marketing-branding.html">Marketing <br/>
                  & branding</a> 
                  <ul class="sub-menu">
                    <li><a href="web-design-development.html">Web Design & Development</a></li>
                    <li><a href="brochure-design.html">Brochure Design</a></li>
                    <li><a href="mobile-application-design-development.html">Mobile Application Design & Development</a></li>
                    <li><a href="Aannexis-Business-Database.html">ANNEXIS Business Database</a></li>
                    <li><a href="email-marketing.html">Email Marketing</a></li>
                    <li><a href="direct-mail-marketing.html">Direct Mail Marketing</a></li>
                  </ul>
                </li>
                <li>
                  <a href="Consultings-Services.html">Consulting<br/>Services</a>
                  <ul class="sub-menu">
                    <li><a href="sales-consulting-services.html">Sales Consulting Services</a></li>
                    <li><a href="tax-consulting-services.html">Tax Consulting Services</a></li>
                    <li><a href="legal-consulting-services.html">Legal Consulting Services</a></li>
                    <li><a href="fundraising-consulting-services.html">Fundraising Consulting Services</a></li>
                  </ul>
                </li>
                <li><a href="blog-news.html">Blog <br/>
                  & News </a> 
                </li>
                <li><a href="contact.html">Contact Us <br/>
                  <img src="assets/images/phone-icon.png"/> (888) 345-6789</a>
                </li>
              </ul>
            </nav>
            <!-- END MAIN MENU-->
          </div>
        </div>
      </div>
    </div>
    <!--/PAGE HEAD-->
    <!--START WELCOME AREA-->
    <div class="container">
    <table class="r-table">      
        <tr>
          <th class="compareTitle">Membership Levels
            <br>
          </th>
          <th class="r-platinum-plus centre">
            <a href="images/Silver-pack.jpg" target="_blank"><div class="member-image"><img src="assets/images/Final-Card-blue-Silver.png"></div></a>
            <div class="silver-card-text">Sliver</div>
            <div class="card-price">$299.00</div>
          </th>
          <th class="r-platinum-plus centre">
            <a href="images/gold-packet.jpg" target="_blank"><div class="member-image"><img src="assets/images/Final-Card-blue-Gold.png"></div></a>
            <div class="gold-card-text">Gold</div>
            <div class="card-price">$499.00</div>
          </th>
          <th class="r-platinum-plus centre">
            <a href="images/platinum-pack.jpg" target="_blank"><div class="member-image"><img src="assets/images/Final-Card-blue-Plutinum.png"></div></a>
            <div class="platinum-card-text">Platinum</div>
            <div class="card-price">$899.00</div>
          </th>
        </tr>
      
        <tr>
          <td>
            <!--th scope="row">Open plan offices usage</th-->
            <div class="accordion-com" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading-com-com">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseZero">
                    Virtual Address
                   
                  </a>
                </div>
                <div style="height: 0px;" id="collapseZero" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ul class="item-list">
                      <li> 	Professional Business US Address</li>
                    </ul>
                  </div>
                </div>
              </div>
          </td>
          <td class="r-Silver centre">
          <img alt="Yes" src="assets/images/Blackarrow .png">
          <br>
          </td>
          <td class="r-platinum centre">
          <img alt="Yes" src="assets/images/Blackarrow .png">
          </td>
          <td class="r-platinum-plus centre">
          <img alt="Yes" src="assets/images/Blackarrow .png">
          </td>
        </tr>
        <tr>
        <td>
        <!--th scope="row">Open plan offices usage</th-->
        <div class="accordion" id="accordion2">
        <div class="accordion-group">
        <div class="accordion-heading-com"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Mail Handling and Delivery</a> </div>
        <div style="height: 0px;" id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li> 	Scan all pages of your mail and email them to you same day received. </li>
        <li> 	Ship mails through a reputable international courier like FEDEX or DHL at a location of your choosing</li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        <br>
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <!--th scope="row">Open plan offices usage</th-->
        <div class="accordion" id="accordion2">
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo"> Local US Tel. Number</a></div>
        <div style="height: 0px;" id="collapsetwo" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li>Professional Recorded Voice Over with Menu Instructions 
        Email Notification</li>
        <li> Auto Attendant to professionally greet clients custom audio messages with menu options.  </li>
        <li> Daily report with call lot of incoming, outgoing and missed calls.  </li>
        <li>	Voice mail forwarded to your email. </li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        <br>
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Choice of Toll Free Number</a> </div>
        <div style="height: 0px;" id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <ul>
        <li> Recommended if targeting more then local market. </li>
        <li> Give a National to International impression. </li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        <br>
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        <br>
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"> 5 Hours of Office Use / Month </a> </div>
        <div id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">  
        <ul class="item-list">
        <li> Personal workspace when you are in town </li>
        <li> Meeting Rooms </li>
        <li> Conference Room </li>
        <li> Video Conference Rooms and Equipment </li>
        <li> High-speed and reliable internet </li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver  centre">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine"> 10 Hours of Office Use / Month</a> </div>
        <div id="collapseNine" class="accordion-body collapse">
        <div class="accordion-inner">  
        <ul class="item-list">
        <li> Personal workspace when you are in town </li>
        <li> Meeting Rooms </li>
        <li> Conference Room </li>
        <li> Video Conference Rooms and Equipment </li>
        <li> High-speed and reliable internet </li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver  centre">
        </td>
        <td class="r-platinum centre">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapsefour">10 Hours of  Live Receptionist / Month</a> </div>
        <div style="height: 0px;" id="collapsefour" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li> Receive and sign for parcels </li>
        <li> Make the needed arrangement to forward parcel</li>
        <li> Receive correspondences you wish to send to you client by email.</li>
        <li> Print, place in envelop, provide the proper posting and mail to your client on your behalf</li>
        <li> Speak to a potential clients and take messages </li>
        <li> Encourages callers to leave their details with a live person rather than leaving a voicemail message. </li>
        </ul>
        </li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">30 Hours of Live Receptionist / Month</a> </div>
        <div id="collapseEight" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li> 	Receive and sign for parcels
        <li> 	Make the needed arrangement to forward parcel
        <li>	Receive correspondences you wish to send to you client by email. </li> 
        <li>	Print, place in envelop, provide the proper posting and mail to your client on your behalf</li>
        <li> 	Speak to a potential clients and take messages</li>
        <li>	Encourages callers to leave their details with a live person rather than leaving a voicemail message.</li>  </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        </td>
        <td class="r-platinum centre">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"> Personal Sale Representative   </a></div>
        <div id="collapseSeven" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li> Register your company in our database  </li>
        <li> Assign a representative to your firm who understand and is ready to respond on your behalf (additional charges may apply). </li>
        <li>   	Travel and meet your potential clients anywhere in the US.</li>
        <li>  Facilitate video conference meetings with you and potential or existing clients</li>
        <li>Communicate with prospects and convert leads to clients.</li>
        <li> 	Take order request or services and arrange contract and payment details.</li>
        <li>    Training of product understanding and usage.</li>
        <li> 	Respond to customer complaints and perform gap analysis on remediation plan and resolutions.</li>
        </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">Consultation & Analysis on ANNEXIS Business Solutions</a> </div>
        <div id="collapseTen" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li>Business Review include: 
        <li> Marketing & Branding Analysis</li>  <li> Tax and Legal service </li>  <li>Creating Brand Identity <li> Brand Positioning Rebranding Solutions</li> </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">30% Savings on Add On Services </a> </div>
        <div id="collapseEleven" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li> ANNEXIS Business Database 
        <li> 	Nationwide database of US Companies with company addresses, direct emails and contact number of decision maker in companies.</li>
        <li> 	Email Marketing </li>
        <li> 	Email campaign management</li>
        <li> 	Lead generation </li>
        <li> 	Email marketing consulting </li>
        <li> 	Trainings & workshops. </li>
        <li> 	Website Design & Development</li>
        <li> 	Web & Mobile Applications</li>
        <li> 	Search Engine Optimization (SEO) & Online Advertising</li>
        <li> 	Social Media Marketing</li>
        <li> 	Packaging and Print Design</li> </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <tr>
        <td>
        <div class="accordion-group">
        <div class="accordion-heading-com"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwelve">Attorneys and Paralegals</a></div>
        <div id="collapseTwelve" class="accordion-body collapse">
        <div class="accordion-inner">
        <ul class="item-list">
        <li>Generate, Review and Execute sales contacts.</li>
        <li> Represent your company in closing sales and contacts </li>
        <li> Legal matters with clients </li>
        <li> Response to customer complaints that require legal presence</li> 
        <li> Register company in US </li> </ul>
        </div>
        </div>
        </div>
        </td>
        <td class="r-Silver centre">
        </td>
        <td class="r-platinum centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        <td class="r-platinum-plus centre">
        <img alt="Yes" src="assets/images/Blackarrow .png">
        </td>
        </tr>
        <th scope="row">
        </th>
        <td class="r-gold centre">
        <span class="red_links">
        <a href="" class="redButt" title="Book Now">Buy Now</a>
        </span>
        </td>
        <td class="r-platinum centre">
        <span class="red_links">
        <a href="http://www.regus.com/business-lounge/review/signup" class="redButt" title="Book Now">Buy Now</a>
        </span>
        </td>
        <td class="r-platinum-plus centre">
        <span class="red_links">
        <a href="http://www.regus.com/business-lounge/review/signup" class="redButt" title="Book Now">Buy Now</a>
        </span>
        </td>
        </tr>
      
    </table>
    </div>
    <!--END WELCOME AREA-->
    <!--FOOTER-->
    <!-- START WIDGET AREA AND SOCIAL ICONS -->
    <div class="footer">
    <div class="container">
    <div class="row">
    <div class="span3">
    <div class="textwidget">
    <a href="#"><img src="assets/images/footer-logo.png"/></a>
    <br>
    <br>
    <div class="textwidget">
    <ul class="unstyled">
    <li><i class="icon-user  icon-white"></i> +1 800 2000 600</li>
    <li><i class="icon-envelope icon-white"></i> contact@sitename.com</li>
    <li><i class="icon-map-marker icon-white"></i> 9930 124th Northeast Kirkland, Washington</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="span3">
    <h5>Contact Information</h5>
    <hr>
    <div class="textwidget">
    <ul class="unstyled">
    <li> <a href="#"> Business Centres </a></li>
    <li> <a href="#"> Offices </a></li>
    <li> <a href="#"> Virtual Offices </a></li>
    <li> <a href="#"> Meeting Facilities </a></li>
    <li> <a href="#"> Businessworld </a></li>
    <li> <a href="#"> Business Lounges </a></li>
    <li> <a href="#"> Workplace Recovery </a></li>
    <li> <a href="#"> Video Conferencing </a></li>
    </ul>
    </div>
    </div>
    <div class="span3">
    <h5>Contact Information</h5>
    <hr>
    <div class="textwidget">
    <ul class="unstyled">
    <li> <a href="#"> Business Centres </a></li>
    <li> <a href="#"> Offices </a></li>
    <li> <a href="#"> Virtual Offices </a></li>
    <li> <a href="#"> Meeting Facilities </a></li>
    <li> <a href="#"> Businessworld </a></li>
    <li> <a href="#"> Business Lounges </a></li>
    <li> <a href="#"> Workplace Recovery </a></li>
    <li> <a href="#"> Video Conferencing </a></li>
    </ul>
    </div>
    </div>
    <div class="span3">
    <h5>Contact Information</h5>
    <hr>
    <div class="textwidget">
    <ul class="unstyled">
    <li> <a href="#"> Business Centres </a></li>
    <li> <a href="#"> Offices </a></li>
    <li> <a href="#"> Virtual Offices </a></li>
    <li> <a href="#"> Meeting Facilities </a></li>
    <li> <a href="#"> Businessworld </a></li>
    <li> <a href="#"> Business Lounges </a></li>
    <li> <a href="#"> Workplace Recovery </a></li>
    <li> <a href="#"> Video Conferencing </a></li>
    </ul>
    </div>
    </div>
    <!-- END WIDGET -->
    </div>
    </div>
    </div>
    <!-- END WIDGET AREA AND SOCIAL ICONS -->
    <!--START BOTTOM LINE-->
    <div class="bottom_line">
    <div class="container">
    <div class="row">
    <!-- START COPYRIGHT INFORMATION-->
    <div class="span6">
    <span style="font-size:14px;">Copyright 2014 Annexis. Design by <a href="http://appalmighty.com/">appalmighty</a></span>
    </div>
    <!-- END COPYRIGHT INFORMATION-->
    <div class="span6">
    <!-- START FOOTER MENU-->
    <div class="copyright pull-right visible-desktop">
    <div class="menu-footer-menu-container">
    <ul class="unstyled footer_menu" id="menu-footer-menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="Customer Referral.html">Customer Referral</a></li>
    <li><a href="Customer Referral.html">Terms & Condition</a></li>
    <li><a href="contacts.html">Contacts</a></li>
    </ul>
    </div>
    </div>
    <!-- END FOOTER MENU-->
    </div>
    </div>
    </div>
    </div>
    <!--END BOTTOM LINE-->
    <!--END FOOTER-->
    </div>
    </div>
    <a href="#" class="scrollToTop"></a>
    
  </body>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/core.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <!-- jQuery REVOLUTION Slider  -->
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="assets/js/jquery.tweet.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/superfish-menu/superfish.js"></script>
  <script src="assets/js/jquery.nivo.slider.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/jflickrfeed.min.js"></script>
  <script src="assets/js/testimonialrotator.js"></script>
  <script src="assets/js/jquery.waitforassets/images/.js"></script>
  <script src="assets/js/jquery.isotope.min.js"></script>
  <script src="flexslider/jquery.flexslider-min.js"></script>
  <script src="assets/js/custom.js"></script>
  <script type="text/javascript">
    jQuery.noConflict()(function ($) {
      $(window).load(function() {
       $('.flexslider').flexslider({animation: "slide", controlNav: false,});
    });
    });
  </script> 
  <script type="text/javascript">
    var tpj=jQuery;
    
    tpj.noConflict();
    
    var revapi2;
    
    tpj(document).ready(function() {
    
        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;
    
        if(tpj('#rev_slider_2_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_2_1');
        else
           revapi2 = tpj('#rev_slider_2_1').show().revolution(
           {
            delay:9000,
            startwidth:770,
            startheight:440,
            hideThumbs:200,
    
            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:3,
    
            navigationType:"none",
            navigationArrows:"verticalcentered",
            navigationStyle:"navbar",
    
            touchenabled:"on",
            onHoverStop:"on",
    
            navOffsetHorizontal:0,
            navOffsetVertical:20,
    
            shadow:0,
            fullWidth:"on",
    
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
    
            shuffle:"off"
        });
    
    }); //ready
    
  </script>
  <script type="text/javascript" src="assets/js/tabslide.js"></script>
  <script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
</html>