    <!DOCTYPE html>
    <html dir="ltr" lang="en-US">
<head>
        <meta charset="utf-8">
       <title>Brochure Design</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description"/>
        <meta content="" name="keywords"/>

        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/responsive.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" href="rs-plugin/css/captions.css">


        <!-- Flex Slider CSS -->
        <link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">

        <!-- Le styles -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="assets/css/boxed_960.css" rel="stylesheet">
        <link href="assets/css/docs.css" rel="stylesheet">
        <link href="assets/css/options.css" rel="stylesheet">
        <link href="assets/css/commander.css" rel="stylesheet">     
        <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
        <link href="assets/nivo/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
        <link href="assets/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext%2Ccyrillic&amp;ver=3.4.2" id="gOpenSans-css" media="all" rel="stylesheet" type="text/css"/>
        <!-- Le fav and touch icons -->
        <link href="assets/commander/favicon.html" rel="shortcut icon">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="assets/css/ie.css"/>
            <![endif]-->
            <!-- FlexSlider --><script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/core.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery.tabSlideOut.v1.3.js"></script>
</head>


</head>
<body>

  <div class="slide-out-div">
        <a class="handle" href="http://link-for-non-js-users">Content</a>
<form class="form" id="ajax-contact-form" action="javascript:alert('Was send!');">

<input type="text" id="name" name="name" class="span4" placeholder="Name"/>
<br/>


<input type="text" id="name" name="name" class="span4" placeholder="Phone Number"/>
<br/>


<input id="email" type="text" class="span4" name="email" placeholder="Email"/>

                                        <textarea id="message" class="span4" type="text" name="message" placeholder="Message" rows="6"></textarea>
                                       
 <div class="slide-contact1"> <img src="images/cap.png">  </div>
 <div class="slide-contact2"><input type="text" id="name" name="name" class="code-form" placeholder="Name"/ style="height:40px;">
  </div>
 
 <div class="slide-contact3"> <button type="submit" class="btn submitbtn">Submit</button> </div>

                                        <br/>
                                        </form>
    </div>

            <div class="wide_cont">
                <!-- START TOP LINE-->
                <div class="top_line">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <!--<p class="feed">Subscribe to be notified for updates: <a href="http://html.orange-idea.com/feed">RSS Feed</a></p>-->
                            </div>
                            <div class="span6 soc_icons">
                                <div class="span6 soc_icons">
                                    <a href="#"><img src="assets/images/singup.png"/></a>
                                    <a href="#"><img src="assets/images/login.png"/></a>                              
                                   <a href="http://plus.google.com/" target="_blank"><div class="icon_google"></div></a>
                                    <a href="http://facebook.com/" target="_blank"><div class="icon_facebook"></div></a>
                                    <a href="http://twitter.com/" target="_blank"><div class="icon_t"></div></a>
                                  
                                </div>
                            </div>
                        </div>               
                    </div>
                </div>
                <!-- END TOP LINE-->
                
                <!--PAGE HEAD-->
                <div class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="span3">
                                <!--START LOGO IMAGE-->
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="assets/images/logo.png"/></a>
                                    </div>
                                    <!-- END LOGO IMAGE-->
                                </div>
                                <div class="span9">
                                    <!-- START MAIN MENU-->
                                    <nav>
                                       <ul class="menu">
            	 <li><a href="about-us.html">About <br/> Annexis <br/>
                 </a> </li>
            
              <li><a href="virtual-office-location.html">Virtual Office <br/>
                Locations </a> </li>
                
              <li><a href="receptionist-services.html">Receptionist <br/>
                Services </a> </li>
				
				
            <li><a href="marketing-branding.html">Marketing <br/>
                & branding</a> 
<ul class="sub-menu">
<li><a href="web-design-development.html">Web Design & Development</a></li>
<li><a href="brochure-design.html">Brochure Design</a></li>
<li><a href="mobile-application-design-development.html">Mobile Application Design & Development</a></li>
<li><a href="Aannexis-Business-Database.html">ANNEXIS Business Database</a></li>
<li><a href="email-marketing.html">Email Marketing</a></li>
<li><a href="direct-mail-marketing.html">Direct Mail Marketing</a></li>
</ul>
</li>
				
				
				
				
           <li><a href="Consultings-Services.html">Consulting<br/>Services</a>
			 <ul class="sub-menu">
<li><a href="sales-consulting-services.html">Sales Consulting Services</a></li>
<li><a href="tax-consulting-services.html">Tax Consulting Services</a></li>
<li><a href="legal-consulting-services.html">Legal Consulting Services</a></li>
<li><a href="fundraising-consulting-services.html">Fundraising Consulting Services</a></li>
</ul>
			 </li>
			 
                <li><a href="blog-news.html">Blog <br/>
               & News </a> </li>
              <li><a href="contact.html">Contact Us <br/>
                <img src="assets/images/phone-icon.png"/> (888) 345-6789</a></li>
            </ul>
                                </nav>
                                <!-- END MAIN MENU-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/PAGE HEAD-->
                
                <!--WELCOME AREA-->
                <div class="tag_line">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <div class="welcome"> 
                                     <h2> 
<strong>Brochure Design</strong> 
</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/WELCOME AREA-->

        <!--MAIN CONTENT AREA-->
        <div class="main_content_area">
             <div class="container">
                 <div class="row" id="margin-top">

                    
                     <!--START BLOG CONTENT-->
                     <div class="span8">
                        <div class="row" style="margin-bottom:50px;">
                            <!-- POST IMAGE -->

                            <!--POST TEXT-->
                            <div class="span8">
                                <div class="blog_item">
<h3><strong>Marketing Materials</strong>  </h3>
<ul class="item-list">
<li> Brochures </li>
<li>Mini Brochures</li>
<li>Flyers</li>
<li>Postcards</li>
<li>Catalogs</li>
<li>Booklets</li>
<li>Menus</li>
<li>Newsletters</li>
<br/>
<li>Sales Sheets</li>
<li>Counter Cards</li>
<li>Door Hangers</li>
<li>Personalized Pens</li>
<li>Leaflets</li>
<li>Pamphlets</li>
</ul>

<br/>
<h3 class="bluebold">Full Color Brochure and Design Services</h3>
<p>Create a marketing material that fits your need.  Our designers can create the professional look you deserve on a variety of marketing tools like brochures, flyers and business cards . Brochures are effective promotional tools that no business can afford to pass up. They're versatile, flexible and affordable. With brochures you can create an outstanding marketing campaign for a limited budget. They can boost your market presence and they work well with other marketing mediums. It is commonly used by businesses to highlight a product, company or service. Brochures come in many folding styles: bi-fold, tri-fold, 4 panel folds and more. Choosing the right fold that compliments your product and brand is hard. The more folding options you have the better chances you have in finding the perfect fit.

</p>
 
 <br/>
 <h3 class="bluebold">Standard Business Card</h3>
 <p>The three most popular standard business card sizes are U.S. Standard (2” x 3.5”), Square (2” x 2”), and Slim (1.75” x 3.5”).  We can be creative in making unique business cards, with custom sizes for your business cards with dimensions ranging from 2” to 4”. </p>
 
 
 
  <br/>
 <h3 class="bluebold">Postcard</h3>
 <p>Send out postcards to spread your message or promote your business in a creative way! Photo cards are best for personal or business use. Create them to showcase one of the products your business has to offer. Postcards are also designed for easier mailing because of their size but you can customize them depending on your needs and preference</p>
 
 
 
   <br/>
 <h3 class="bluebold">Flyer </h3>
 <p>Spread word using flyers. Flyers are effective tools for promotions, whether its for a brand, business or event. These advertising materials are easy to distribute and reaches a wide range of audience for little time and effort. Give them away in places with heavy foot traffic like subways, malls and groceries. Flyer printing is a good option for businesses on a tight budget. These promotional materials are affordable and efficient. </p>
 
 
 
   <br/>
 <h3 class="bluebold">Catalogs </h3>
 <p>If you desire to not only showcase your product as well as provide your customer additional detail and description on items of interest, catalogs are a great way to accomplish this. </p>
 <p>We have two types of color catalog printing - short-run catalogs for small-quantity requirements and bulk catalogs for large-quantity orders which are perfect for small to medium sized businesses. With bulk catalog printing, every catalog would be consistent in quality, whether they’re gift catalogs, clothing catalogs, or whatever kind they may be. </p>
 
 
  <br/>
 <h3 class="bluebold">Posters in Bulk, Large Format, or Mounted Posters </h3>
 <p>Improve brand recognition for your products using quality poster.  Posters are marketing tools designed to be eye-catching and informative. When done right you can command the right attention by using graphics and texts. Use them to highlight important events, discounts and bestsellers. 
</p>

<p>Posters are one of the most common and effective tools used by advertisers or any group trying to communicate a message. They are also sometimes used to reproduce famous artwork for a more affordable price. </p>

<p>Use our large format posters for promotional and decorative purposes. They can easily cover any blank wall spaces and make them more interesting. We use high and semi-gloss HP photo paper for a polished and quality look. These posters are available in standard or custom sizes.</p>

<p>Mounted posters are excellent point of purchase displays for your business. They are often used in trade shows, conferences and schools. Our mounted posters use 1/8" thick and durable PVC boards. They are fade-resistant and are great for both outdoor and indoor advertisements. </p>
                             
</div>  
 </div>
                           
 <!-- ABOUT AUTHOR-->
                            
 <!-- START COMMENTS -->
                            
                        
                    </div>
                  </div>
                  
                  
                  
                  
                  
                   <!-- START SIDEBAR -->
                    <div class="span4 blog_sidebar">
                        <!-- FIRST WIDGET -->
                        <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Pay Atention</h5>
                                <hr/>
                                <div class="textwidget">
                                    <div class="alert alert-block alert-success" style="margin-bottom: 0px;">
                                        <h3 class="alert-heading">Oh snap! 50% SALE!</h3>
                                        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
                                    </div>
                                </div>
                            </div>
                            <!--SEARCH WIDGET-->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Lost something?</h5>
                                <hr/>
                                <form role="search" method="get" id="searchform" >
                                <div>
                                    <label class="screen-reader-text" for="s">Search for:</label>
                                    <input type="text" value="" name="s" id="s"/>
                                    <input type="submit" id="searchsubmit" value="Search"/>
                                </div>
                                </form>
                            </div>

                            <!-- Blog catories Widget -->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Blog categories</h5>
                                <hr>
                                <ul>
                                     <li class="cat-item"><a href="#">Photography</a></li>
                                     <li class="cat-item"><a href="#">Uncategorized</a></li>
                                     <li class="cat-item"><a href="#">Videos</a></li>
                                     <li class="cat-item"><a href="#">Wordpress</a></li>
                                 </ul> 
                            </div>

                            <!--VIDEO WIDGET-->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Video widget</h5>
                                <hr/>
                                <div class="textwidget">
                                    <iframe src="http://player.vimeo.com/video/16765716" width="100%" height="200" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>

                            </div>

                            <!--TAGS-->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Tag cloud</h5>
                                <hr/>
                                <div class="tagcloud">
                                    <a href="#" class="tag-link-6" title="3 topics" style="font-size: 22pt;">Design</a>
                                    <a href="#" class="tag-link-7" title="2 topics" style="font-size: 8pt;">Modern</a>
                                    <a href="#" class="tag-link-8" title="2 topics" style="font-size: 8pt;">Responsive</a>
                                </div>

                            </div>

                            <!--Recent Posts-->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Recent Posts</h5>
                                <hr/>
                                <ul class="recent-post-widget unstyled">
                                    <li>
                                        <a href="index.html" title="Hello world!" class="bg-link">Hello world!</a>
                                            <div class="small-meta">
                                            Dec 1, 2012 /
                                            <a href="index.html#comments" title="Comment on Hello world!">1 Comment</a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <a href="post-right-sidebar.html" title="Post + Right Sidebar" class="bg-link">Post + Right Sidebar</a>
                                        <div class="small-meta">
                                            Nov 30, 2012 /
                                            <a href="post-right-sidebar.html#comments" title="Comment on Post + Right Sidebar">1 Comment</a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <a href="video-post.html" title="Video Post" class="bg-link">Video Post</a>
                                        <div class="small-meta">
                                            Nov 29, 2012 /
                                            <a href="video-post.html#comments" title="Comment on Video Post">1 Comment</a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <a href="index.html" title="Nullam Vitae Nibh Un Odiosters" class="bg-link">Nullam Vitae Nibh Un Odiosters</a>
                                        <div class="small-meta">
                                            Nov 28, 2012 /
                                            <a href="index.html#comments" title="Comment on Nullam Vitae Nibh Un Odiosters">1 Comment</a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    </ul>
                            </div>

                            <!--ADS WIDGET-->
                            <div class="well">
                                <h5 style="font-weight: 600; text-transform: uppercase !important;">Adds</h5>
                                <hr/>
                                <div class="textwidget">
                                <!--    <img src="images/gallery/aj_300x250_v1.gif" alt="">-->
                                </div>

                            </div>
                    </div>
                    <!-- END SIDEBAR -->


                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                </div>
             </div>
         </div> 
        <!--END MAIN CONTENT AREA-->
        
        
        
        
        
        
        
        
        
        
        
        
        

        <!--FOOTER-->

   <!--FOOTER-->

<!-- START WIDGET AREA AND SOCIAL ICONS -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="textwidget">
           <a href="#">     <img src="assets/images/footer-logo.png"/> </a>
                    <br>
                    <br>
                    
                    <div class="textwidget">
                    <ul class="unstyled">
                        <li><i class="icon-user  icon-white"></i> +1 800 2000 600</li>
                        <li><i class="icon-envelope icon-white"></i> contact@sitename.com</li>
                        <li><i class="icon-map-marker icon-white"></i> 9930 124th Northeast Kirkland, Washington</li>
                    </ul>
                </div>
                    
                </div>
            </div>

            <div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
            
<div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
            
            
            <div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
                        
                 <!-- END WIDGET -->
            
                        </div>
                    </div>
                </div>
                <!-- END WIDGET AREA AND SOCIAL ICONS -->

                <!--START BOTTOM LINE-->
                <div class="bottom_line">
                    <div class="container">
                        <div class="row">
                            <!-- START COPYRIGHT INFORMATION-->
                            <div class="span6">
                                <span style="font-size:14px;">Copyright 2014 Annexis. Design by <a href="http://appalmighty.com/">appalmighty</a></span>
                            </div>
                            <!-- END COPYRIGHT INFORMATION-->
                            <div class="span6">
                               <!-- START FOOTER MENU-->
                               <div class="copyright pull-right visible-desktop">
                                <div class="menu-footer-menu-container">
                                    <ul class="unstyled footer_menu" id="menu-footer-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="Customer Referral.html">Customer Referral</a></li>
                                        <li><a href="Customer Referral.html">Terms & Condition</a></li>
                                        <li><a href="contacts.html">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END FOOTER MENU-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END BOTTOM LINE-->
            <!--END FOOTER-->
            </div>
            </div>

<a href="#" class="scrollToTop"></a>
<script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/core.js"></script>

            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="assets/js/jquery.min.js"></script>
            <!-- jQuery REVOLUTION Slider  -->
            <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
            <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <script src="assets/js/jquery.tweet.js"></script>
            <script src="assets/js/google-code-prettify/prettify.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/jquery.easing.1.3.js"></script>
            <script src="assets/js/superfish-menu/superfish.js"></script>
            <script src="assets/js/jquery.nivo.slider.js"></script>
            <script src="assets/js/jquery.prettyPhoto.js"></script>
            <script src="assets/js/jflickrfeed.min.js"></script>
            <script src="assets/js/testimonialrotator.js"></script>
            <script src="assets/js/jquery.waitforimages.js"></script>
            <script src="assets/js/jquery.isotope.min.js"></script>
            <script src="flexslider/jquery.flexslider-min.js"></script>
            
            <script src="assets/js/custom.js"></script>
                      
                    
	<script type="text/javascript" src="assets/js/tabslide.js"></script>
    <script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
   

</body>


</html>