<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="utf-8">
<title>Annexis Design</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="description"/>
<meta content="" name="keywords"/>

<!-- REVOLUTION BANNER CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/responsive.css" media="screen" />
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
<link rel="stylesheet" href="rs-plugin/css/captions.css">

<!-- Flex Slider CSS -->
<link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">

<!-- Le styles -->
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="assets/css/boxed_960.css" rel="stylesheet">
<link href="assets/css/docs.css" rel="stylesheet">
<link href="assets/css/options.css" rel="stylesheet">
<link href="assets/css/commander.css" rel="stylesheet">
<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="assets/nivo/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
<link href="assets/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext%2Ccyrillic&amp;ver=3.4.2" id="gOpenSans-css" media="all" rel="stylesheet" type="text/css"/>
<!-- Le fav and touch icons -->
<link href="assets/commander/favicon.html" rel="shortcut icon">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
<!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="assets/css/ie.css"/>
            <![endif]-->
<!-- FlexSlider -->
<script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/core.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery.tabSlideOut.v1.3.js"></script>
</head>


</head>
<body>

  <div class="slide-out-div">
        <a class="handle" href="http://link-for-non-js-users">Content</a>
<form class="form" id="ajax-contact-form" action="javascript:alert('Was send!');">

<input type="text" id="name" name="name" class="span4" placeholder="Name"/>
<br/>


<input type="text" id="name" name="name" class="span4" placeholder="Phone Number"/>
<br/>


<input id="email" type="text" class="span4" name="email" placeholder="Email"/>

                                        <textarea id="message" class="span4" type="text" name="message" placeholder="Message" rows="6"></textarea>
                                       
 <div class="slide-contact1"> <img src="images/cap.png">  </div>
 <div class="slide-contact2"><input type="text" id="name" name="name" class="code-form" placeholder="Name"/ style="height:40px;">
  </div>
 
 <div class="slide-contact3"> <button type="submit" class="btn submitbtn">Submit</button> </div>

                                        <br/>
                                        </form>
    </div>

<div class="wide_cont"> 
  <!-- START TOP LINE-->
  <div class="top_line">
    <div class="container">
      <div class="row">
        <div class="span6"> 
          <!--<p class="feed">Subscribe to be notified for updates: <a href="http://html.orange-idea.com/feed">RSS Feed</a></p>--> 
        </div>
        <div class="span6 soc_icons">
          <div class="span6 soc_icons"> <a href="#"><img src="assets/images/singup.png"/></a> <a href="#"><img src="assets/images/login.png"/></a> <a href="http://plus.google.com/" target="_blank">
            <div class="icon_google"></div>
            </a> <a href="http://facebook.com/" target="_blank">
            <div class="icon_facebook"></div>
            </a> <a href="http://twitter.com/" target="_blank">
            <div class="icon_t"></div>
            </a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END TOP LINE--> 
  
  <!--PAGE HEAD-->
  <div class="page_head">
    <div class="container">
      <div class="row">
        <div class="span3"> 
          <!--START LOGO IMAGE-->
          <div class="logo"> <a href="index.html"> <img src="assets/images/logo.png"/></a> </div>
          <!-- END LOGO IMAGE--> 
        </div>
        <div class="span9"> 
          <!-- START MAIN MENU-->
          <nav>
            <ul class="menu">
            	 <li><a href="about-us.html">About <br/> Annexis <br/>
                 </a> </li>
            
              <li><a href="virtual-office-location.html">Virtual Office <br/>
                Locations </a> </li>
                
              <li><a href="receptionist-services.html">Receptionist <br/>
                Services </a> </li>
            <li><a href="marketing-branding.html">Marketing <br/>
                & branding</a> 
<ul class="sub-menu">
<li><a href="web-design-development.html">Web Design & Development</a></li>
<li><a href="brochure-design.html">Brochure Design</a></li>
<li><a href="mobile-application-design-development.html">Mobile Application Design & Development</a></li>
<li><a href="Aannexis-Business-Database.html">ANNEXIS Business Database</a></li>
<li><a href="email-marketing.html">Email Marketing</a></li>
<li><a href="direct-mail-marketing.html">Direct Mail Marketing</a></li>
</ul>
</li>
 <li><a href="Consultings-Services.html">Consulting<br/>Services</a>
			 <ul class="sub-menu">
<li><a href="sales-consulting-services.html">Sales Consulting Services</a></li>
<li><a href="tax-consulting-services.html">Tax Consulting Services</a></li>
<li><a href="legal-consulting-services.html">Legal Consulting Services</a></li>
<li><a href="fundraising-consulting-services.html">Fundraising Consulting Services</a></li>
</ul>
</li>
<li><a href="blog-news.html">Blog <br/>
               & News </a> </li>
              <li><a href="contact.html">Contact Us <br/>
                <img src="assets/images/phone-icon.png"/> (888) 345-6789</a></li>
            </ul>
          </nav>
          <!-- END MAIN MENU--> 
        </div>
      </div>
    </div>
  </div>
  <!--/PAGE HEAD--> 
   <!--WELCOME AREA-->
             
 
  <!-- START REVOLUTION SLIDER 2.0.3 -->
  <link rel='stylesheet' id='rev-google-font' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,600,700,800' type='text/css' media='all' />
  <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper banner_container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;maxheight:440px;height:440;">
    <div id="rev_slider_2_1" class="rev_slider banner_container" style="display:none;max-height:440px;height:440;">
      <ul>

        
        <li data-transition="random" data-slotamount="7" data-masterspeed="300" > <img src="images/gallery/slide3.png" alt="slide3" >
      
</li>
        
        
        <li data-transition="random" data-slotamount="7" data-masterspeed="300" > <img src="images/gallery/slide4.png" alt="slide3" >
       
        </li>
        <li data-transition="random" data-slotamount="7" data-masterspeed="300" > <img src="images/gallery/slide5.png" alt="slide3" >
         
        </li>
        
        
       <li data-transition="random" data-slotamount="7" data-masterspeed="300"> <img src="images/gallery/slide6.png" alt="slide4" >
 
        </li> 

		<li data-transition="random" data-slotamount="7" data-masterspeed="300"> <img src="images/gallery/slide7.png" alt="slide4" >
  
        </li> 

      </ul>
    </div>
  </div>
  
  <!-- END REVOLUTION SLIDER --> 
  
  <!--MAIN CONTENT AREA-->
  
  <div class="grey-color">
   <div class="container">
      <div class="row mrgbtm35"> <!---ROW START HERE---->
<p style="font-size:60px;text-transform:uppercase; padding-bottom:20px;"><strong>&nbsp; ANNEXIS provides the bridge </p>


<div class="span6">

   <p>  <span style="text-transform:uppercase; font-size:40px; padding-left:10px; line-height:45px;"> your business needs </span> <br/> <span style="font-size:32px;padding-left:10px;line-height:45px;"> To Extend New Territories and</span> <br/> <span style="font-size:26px;padding-left:10px;line-height:45px;"> Increase Market Share. </span> </strong> <br/> </p>

 </div>
 
 
<div class="span6">
<ul class="top-service"> 
<li> State of the art business environment and business amenities </li>
<li> Virtual offices throughout the US territory</li>
<li> 800 & Local Numbers</li> 
<li> Live Receptionist</li>
<li> Sales Representatives</li> 
<li> Mail & Marketing Support </li>
<lI> Tax & Legal Consulting </lI>
<li>  And more…</li>
</ul> 

</div> 
 


</div></div>
  </div> <!-- grey-color-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="blue-color">
   <div class="container">
      <div class="row mrgbtm35"> <!---ROW START HERE---->

<div class="span12" style="margin:0px; padding:0px;">
<div class="span4 shadow-box">
          <div>
            <h3 align="center">Virtual Office Packages </h3>
            <a href="virtual-office-location.html"> <img src="images/gallery/VirtualOfficePackages.png" alt="Permalink to Another Work"> </a>
            <address class="d-padding">
            Select a prestigious office location and impress your client while increasing revenue If you just need a ... <br/>
          <a href="virtual-office-location.html">   <button class="btn btn-small btn-primary">Read More</button>   </a>
            </address>
          </div>
        </div>
        
        
        
        <div class="span4 shadow-box">
          <div>
            <h3 align="center">Live Receptionist Services</h3>
            <a href="receptionist-services.html"> <img src="images/gallery/Live-Receptionist.png" alt="Permalink to Another Work"> </a>
<address class="d-padding">
            We can be there to answer, respond to and forward all your correspondence.  Anexis will be... <br/>
            <a href="receptionist-services.html"> <button class="btn btn-small btn-primary">Read More</button></a>
            </address>
          </div>
        </div>
        
        
        
        
      <div class="span4 shadow-box">
    <div>
     <h3 align="center"> Mail Handling Services </h3>
      <a href="Mail-Handling-Services.html"> <img src="images/gallery/MailHandlingServices.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      Local business telephone number in all major Indian cities. Toll free no at various locations... <br/>
     <a href="Mail-Handling-Services.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>  
        
  <div class="clearfix" > </div>  
  
  
<br/><br/>


<div class="span4 shadow-box">
    <div>
      <h3 align="center"> Marketing & Branding Services </h3>
      <a href="marketing-branding.html"> <img src="images/gallery/marketing-branding.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      Increase your earning potential.  We have databases that provide valuable information about... <br/>
     <a href="marketing-branding.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>




<div class="span4 shadow-box">
    <div>
     <h3 align="center">Fund Raising Consulting Services</h3>
      <a href="Sales-Representative.html"> <img src="images/gallery/Sales-Representative.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      Anexis agent can personally respond and meet your clients and potential customers. Sale agent can travel... <br/>
     <a href="Sales-Representative.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>



<div class="span4 shadow-box">
    <div>
     <h3 align="center">Sales Representative Services </h3>
      <a href="Others-Business-Solutions.html"> <img src="images/gallery/Others-Business-Solutions.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      On staff Attorney to provide legal counseling of US business laws, prepare service and sales contract ... <br/>
     <a href="Others-Business-Solutions.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>
  
  <div class="clearfix"> </div>
  
  <br/> <br/> 

  
<div class="span4 shadow-box">
    <div>
      <h3 align="center">Tax Consulting Services</h3>
      <a href="marketing-branding.html"> <img src="images/gallery/tax-consulting.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      Increase your earning potential.  We have databases that provide valuable information about... <br/>
     <a href="marketing-branding.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>




<div class="span4 shadow-box">
    <div>
     <h3 align="center">Legal Consulting Services </h3>
      <a href="Sales-Representative.html"> <img src="images/gallery/Legal-Consulting-Services.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      Anexis agent can personally respond and meet your clients and potential customers. Sale agent can travel... <br/>
     <a href="Sales-Representative.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>



<div class="span4 shadow-box">
    <div>
     <h3 align="center">Membership Packages </h3>
      <a href="Others-Business-Solutions.html"> <img src="images/gallery/Others-Business-Solutions.png" alt="Permalink to Another Work"> </a>
      <address class="d-padding">
      On staff Attorney to provide legal counseling of US business laws, prepare service and sales contract ... <br/>
     <a href="Others-Business-Solutions.html"> <button class="btn btn-small btn-primary">Read More</button> </a>
      </address>
    </div>
  </div>
</div></div> </div>
  </div> <!-- grey-color-->
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <div class="white-color">
   <div class="container">
      <div class="row mrgbtm35"> <!---ROW START HERE---->

<div class="span12">

  <div class="row">
        <div class="span8">
         <div class="text-orange">
          <h1>Expand Your Network</h1>
          <!-- ACCORDION -->
          <div class="bs-docs-example">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Expand Your Network</a> </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
				  <ul class="item-list">
<li> Local offices near to where you are advertising improves credibility </li>
<li> Low initial investment to start office and be in market  </li>
<li> Office are fully equipped to support all business needs – private offices, conference rooms, and amenities like video conferencing equipment, broadband Internet, and parking facilities. </li>
</ul>
</div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Live Receptionist  </a> </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner"> <p><strong>Never miss a call</strong> </p>
				  <p>In business, a missed call is often missed opportunity. The calls you receive may create opportunities to increase your sales, or even provide better customer service. No business wants to miss out on sales no matter what time of day this potentially occur. However, a missed call may also present an opportunity where a negative impression can be formed especially from an existing client. All business work hard at gaining new business, but the ability to keep the customers and clients gain is also essential to stay in business. Many business owners just can't justify the costs required to staff a reception desk 24 hours a day. Or maybe your call volume is growing out of control, and you don't have the resources available to handle the calls? </p>
				  
				  <p>Our skilled and qualified staff members are here to help grow your business at a fraction of the cost! Do your customers and your business a favor, and sign up today. </p>
				  
<p><strong>Dedicated Agents </strong></p> 
<p>Dedicated Agents are staffed to support solely your business. We ensure that all agents go through rigorous training to provide the highest level Answering Service to your clients. </p>
 </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Our Telephone Answering services offer the following benefits: </a> </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ul>
                      <li>Local business telephone number in all major Indian cities.</li>
                      <li>Toll free no at various locations.</li>
                      <li>Professionally managed business call center, answering phone calls in your company’s name.</li>
                      <li>Dedicated receptionist to receive calls, take messages or transfer calls to your personal number.</li>
                      <li>Calls answered by a receptionist in your company name 24/7, 365 days a year, as per your requirement.</li>
                      <li>During holidays or extended trips away from your business, special instructions can be given to reception with regards to the handling of your incoming calls during that period. </li>
					  
					  
					  
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"> Marketing & Branding  </a> </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner"> <p>ANNEXIS Business Database can be made available to our clients with valuable information about every company in America providing company name, address, key personnel and their title, phone number and emails. </p>
				  
<p><strong>Marketing Tools:</strong></p>
 <ul class="item-list">
<li> Website Design </li>
<li> Mobile Application </li>
<li> Brochure </li>
<li> Flyers </li>
<li> Business Cards </li>
<li> Direct mail </li>
<li> E-mail </li>
<li> Paper. </li>
<li> Telephonic Marketing </li>
 </ul>				  
 </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"> Sales Representatives  </a> </div>
                <div id="collapseFive" class="accordion-body collapse">
                  <div class="accordion-inner">
ANNEXIS can dedicate agent can personally respond and meet your clients and potential customers. Sale agent can travel anywhere across the US and meet with your clients. 
 </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix"> Others Business Solutions: </a> </div>
                <div id="collapseSix" class="accordion-body collapse">
                  <div class="accordion-inner"> On staff Attorney to provide legal counseling of US business laws, prepare service and sales contract and legal representation when needed to close deals. </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        
        <a href="#" style="color:#000;"> 
        <div class="span4"> 
          <!-- TESTIMONIALS ROTATOR -->
        <div class="text-orange" style="text-align:center;">  <h1>Clients Testimonials</h1> </div>
          <div class="testimonialrotator"  style="height: 240px;">
            <div class="testimonial" style="position: absolute; display: block;">
              <div class="main_testimonial">
                <div class="blockquote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. The readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content.</div>
              </div>
              <div class="the-author">Mikle / CEO Some Company</div>
            </div>
            <div class="testimonial" style="display: none;">
              <div class="main_testimonial">
                <div class="blockquote">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). It is a ong established fact that. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis.</div>
              </div>
              <div class="the-author">Jhon Doe</div>
            </div>
          </div>
          <!-- END TESTIMONIALS ROTATOR --> 
        </div>
        </a>
        
        
        
      </div>
   
 </div>


</div></div>
  </div> <!-- grey-color-->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!--END MAIN CONTENT AREA--> 
  
  <!--FOOTER--> 
  
  <!-- START WIDGET AREA AND SOCIAL ICONS -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="textwidget"> <a href="#"> <img src="assets/images/footer-logo.png"/> </a> <br>
            <br>
            <div class="textwidget">
              <ul class="unstyled">
                <li><i class="icon-user  icon-white"></i> +1 800 2000 600</li>
                <li><i class="icon-envelope icon-white"></i> contact@sitename.com</li>
                <li><i class="icon-map-marker icon-white"></i> 9930 124th Northeast Kirkland, Washington</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span3">
          <h5>Contact Information</h5>
          <hr>
          <div class="textwidget">
            <ul class="unstyled">
              <li> <a href="#"> Business Centres </a></li>
              <li> <a href="#"> Offices </a></li>
              <li> <a href="#"> Virtual Offices </a></li>
              <li> <a href="#"> Meeting Facilities </a></li>
              <li> <a href="#"> Businessworld </a></li>
              <li> <a href="#"> Business Lounges </a></li>
              <li> <a href="#"> Workplace Recovery </a></li>
              <li> <a href="#"> Video Conferencing </a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <h5>Contact Information</h5>
          <hr>
          <div class="textwidget">
            <ul class="unstyled">
              <li> <a href="#"> Business Centres </a></li>
              <li> <a href="#"> Offices </a></li>
              <li> <a href="#"> Virtual Offices </a></li>
              <li> <a href="#"> Meeting Facilities </a></li>
              <li> <a href="#"> Businessworld </a></li>
              <li> <a href="#"> Business Lounges </a></li>
              <li> <a href="#"> Workplace Recovery </a></li>
              <li> <a href="#"> Video Conferencing </a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <h5>Contact Information</h5>
          <hr>
          <div class="textwidget">
            <ul class="unstyled">
              <li> <a href="#"> Business Centres </a></li>
              <li> <a href="#"> Offices </a></li>
              <li> <a href="#"> Virtual Offices </a></li>
              <li> <a href="#"> Meeting Facilities </a></li>
              <li> <a href="#"> Businessworld </a></li>
              <li> <a href="#"> Business Lounges </a></li>
              <li> <a href="#"> Workplace Recovery </a></li>
              <li> <a href="#"> Video Conferencing </a></li>
            </ul>
          </div>
        </div>
        
        <!-- END WIDGET --> 
        
      </div>
    </div>
  </div>
  <!-- END WIDGET AREA AND SOCIAL ICONS --> 
  
  <!--START BOTTOM LINE-->
  <div class="bottom_line">
    <div class="container">
      <div class="row"> 
        <!-- START COPYRIGHT INFORMATION-->
        <div class="span6"> <span style="font-size:14px;">Copyright 2014 Annexis. Design by <a href="http://appalmighty.com/">appalmighty</a></span> </div>
        <!-- END COPYRIGHT INFORMATION-->
        <div class="span6"> 
          <!-- START FOOTER MENU-->
          <div class="copyright pull-right visible-desktop">
            <div class="menu-footer-menu-container">
              <ul class="unstyled footer_menu" id="menu-footer-menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="Customer Referral.html">Customer Referral</a></li>
                <li><a href="Customer Referral.html">Terms & Condition</a></li>
                <li><a href="contacts.html">Contacts</a></li>
              </ul>
            </div>
          </div>
          <!-- END FOOTER MENU--> 
        </div>
      </div>
    </div>
  </div>
  <!--END BOTTOM LINE-->  <!--END FOOTER--> 
</div>
</div>
</a><a href="#" class="scrollToTop"></a>
<!-- Le javascript
            ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script src="assets/js/jquery.min.js"></script> <!-- jQuery REVOLUTION Slider  --> 
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script> 
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="assets/js/jquery.tweet.js"></script> 
<script src="assets/js/google-code-prettify/prettify.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/jquery.easing.1.3.js"></script> 
<script src="assets/js/superfish-menu/superfish.js"></script> 
<script src="assets/js/jquery.nivo.slider.js"></script> 
<script src="assets/js/jquery.prettyPhoto.js"></script> 
<script src="assets/js/jflickrfeed.min.js"></script> 
<script src="assets/js/testimonialrotator.js"></script> 
<script src="assets/js/jquery.waitforimages.js"></script> 
<script src="assets/js/jquery.isotope.min.js"></script> 
<script src="flexslider/jquery.flexslider-min.js"></script> 
<script src="assets/js/custom.js"></script> 
<script type="text/javascript">
            jQuery.noConflict()(function ($) {
              $(window).load(function() {
               $('.flexslider').flexslider({animation: "slide", controlNav: false,});
           });
          });
            </script> 
<script type="text/javascript">

                            var tpj=jQuery;

                            tpj.noConflict();

                            var revapi2;

                            tpj(document).ready(function() {

                                if (tpj.fn.cssOriginal != undefined)
                                    tpj.fn.css = tpj.fn.cssOriginal;

                                if(tpj('#rev_slider_2_1').revolution == undefined)
                                    revslider_showDoubleJqueryError('#rev_slider_2_1');
                                else
                                   revapi2 = tpj('#rev_slider_2_1').show().revolution(
                                   {
                                    delay:9000,
                                    startwidth:770,
                                    startheight:440,
                                    hideThumbs:200,

                                    thumbWidth:100,
                                    thumbHeight:50,
                                    thumbAmount:3,

                                    navigationType:"none",
                                    navigationArrows:"verticalcentered",
                                    navigationStyle:"navbar",

                                    touchenabled:"on",
                                    onHoverStop:"on",

                                    navOffsetHorizontal:0,
                                    navOffsetVertical:20,

                                    shadow:0,
                                    fullWidth:"on",

                                    stopLoop:"off",
                                    stopAfterLoops:-1,
                                    stopAtSlide:-1,

                                    shuffle:"off"
                                });

                    }); //ready

    </script> 
<script type="text/javascript" src="assets/js/tabslide.js"></script> 
<script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
</body>
</html>