    <!DOCTYPE html>
    <html dir="ltr" lang="en-US">
<head>
        <meta charset="utf-8">
        <title>Annexis Design</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description"/>
        <meta content="" name="keywords"/>
        
        <link rel="stylesheet" type="text/css" href="assets/main.css" />
<link rel="stylesheet" type="text/css" href="assets/style.css">
<script type="text/javascript" src="js/jquery1.4.1jquery.min.js"></script>
 <script type="text/javascript">
        $(function() {
            var $items = $('#vtab>ul>li');
            $items.mouseover(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('#vtab>div').hide().eq(index).show();
            }).eq(1).mouseover();
        });
    </script>

        <!-- REVOLUTION BANNER CSS SETTINGS -->
          <link href="assets/css/custom.css" rel="stylesheet">
          <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="../w.sharethis.com/button/buttons.js"></script><script type="text/javascript" src="../s.sharethis.com/loader.js"></script>
          
          
        
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/responsive.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" href="rs-plugin/css/captions.css">


        <!-- Flex Slider CSS -->
        <link rel="stylesheet" href="flexslider/flexslider.css" type="text/css">

        <!-- Le styles -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="assets/css/boxed_960.css" rel="stylesheet">
        <link href="assets/css/docs.css" rel="stylesheet">
        <link href="assets/css/options.css" rel="stylesheet">
        <link href="assets/css/commander.css" rel="stylesheet">     
        <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
        <link href="assets/nivo/nivo-slider.css" media="screen" rel="stylesheet" type="text/css">
        <link href="assets/css/prettyPhoto.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;subset=latin%2Ccyrillic-ext%2Cgreek-ext%2Cgreek%2Cvietnamese%2Clatin-ext%2Ccyrillic&amp;ver=3.4.2" id="gOpenSans-css" media="all" rel="stylesheet" type="text/css"/>
        <!-- Le fav and touch icons -->
        <link href="assets/commander/favicon.html" rel="shortcut icon">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="assets/css/ie.css"/>
            <![endif]-->
            <!-- FlexSlider -->

        </head>
        <body>
            <div class="wide_cont">
                <!-- START TOP LINE-->
                <div class="top_line">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <!--<p class="feed">Subscribe to be notified for updates: <a href="http://html.orange-idea.com/feed">RSS Feed</a></p>-->
                            </div>
                            <div class="span6 soc_icons">
                                <div class="span6 soc_icons">
                                    <a href="#"><img src="assets/images/singup.png"/></a>
                                    <a href="#"><img src="assets/images/login.png"/></a>                              
                                   <a href="http://plus.google.com/" target="_blank"><div class="icon_google"></div></a>
                                    <a href="http://facebook.com/" target="_blank"><div class="icon_facebook"></div></a>
                                    <a href="http://twitter.com/" target="_blank"><div class="icon_t"></div></a>
                                  
                                </div>
                            </div>
                        </div>               
                    </div>
                </div>
                <!-- END TOP LINE-->
                
                <!--PAGE HEAD-->
                <div class="page_head">
                    <div class="container">
                        <div class="row">
                            <div class="span3">
                                <!--START LOGO IMAGE-->
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="assets/images/logo.png"/></a>
                                    </div>
                                    <!-- END LOGO IMAGE-->
                                </div>
                                <div class="span9">
                                    <!-- START MAIN MENU-->
                                    <nav>
                                       <ul class="menu">
            	 <li><a href="about-us.html">About <br/> Annexis <br/>
                 </a> </li>
            
              <li><a href="virtual-office-location.html">Virtual Office <br/>
                Locations </a> </li>
                
              <li class="active"><a href="receptionist-services.html">Receptionist <br/>
                Services </a> </li>
            <li><a href="marketing-branding.html">Marketing <br/>
                & branding</a> 
<ul class="sub-menu">
<li><a href="web-design-development.html">Web Design & Development</a></li>
<li><a href="brochure-design.html">Brochure Design</a></li>
<li><a href="mobile-application-design-development.html">Mobile Application Design & Development</a></li>
<li><a href="Aannexis-Business-Database.html">ANNEXIS Business Database</a></li>
<li><a href="email-marketing.html">Email Marketing</a></li>
<li><a href="direct-mail-marketing.html">Direct Mail Marketing</a></li>
</ul>
</li>
 <li><a href="Consultings-Services.html">Consulting<br/>Services</a>
			 <ul class="sub-menu">
<li><a href="sales-consulting-services.html">Sales Consulting Services</a></li>
<li><a href="tax-consulting-services.html">Tax Consulting Services</a></li>
<li><a href="legal-consulting-services.html">Legal Consulting Services</a></li>
<li><a href="fundraising-consulting-services.html">Fundraising Consulting Services</a></li>
</ul>
			 </li>		 
                <li><a href="blog-news.html">Blog <br/>
               & News </a> </li>
              <li><a href="contact.html">Contact Us <br/>
                <img src="assets/images/phone-icon.png"/> (888) 345-6789</a></li>
            </ul>
                                </nav>
                                <!-- END MAIN MENU-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/PAGE HEAD-->
                
                <!--WELCOME AREA-->
                <div class="tag_line">
                    <div class="container">
                        <div class="row1">
                            <div class="span12">
                                <div class="welcome"> 
                                    <h2>
<strong>RECEPTIONIST SERVICE </strong>
</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/WELCOME AREA-->
                


  


                <!--MAIN CONTENT AREA-->
                <div class="main_content_area">

                    <div class="container">  
                    
                    
                     <!-- Recent From the Blog -->

                   <div class="row-fluid mrgbtm35" style="margin-top:30px;">
                    <div class="clear"></div>
                            <div class="span12">
                            
                            
                            
                            
      <div id="vtab">
        <ul>
        <li><img src="images/live-recepnist.png" alt="Keyword" align="absmiddle" /> Live Reception services </li>
        <li><img src="images/video-conference.png" alt="On Page Seo" align="absmiddle" /> Video Conferencing:</li>
        <li><img src="images/mail-hadling.png" alt="Off Page Seo" align="absmiddle" /> Mail Handling:</li>
        
	

        </ul>
        <div>
            <div class="ser-img">
		 <h4>Live Reception services</h4>
<ul class="last_item">       
<li> ANNEXIS can assign live receptionist to answer your calls. </li> 
<li> Packages available to fit all budgets and are scalable to support your need. </li> 
<li> A reception can receive and sign for your parcels at your virtual office. </li>
<li> Live receptionist can also greet your clients as they visit you on your office.</li>
</ul>  
		  
		  </div>

<div class="ser-img">
<p>
<img src="images/keywords.gif" alt="" style="float:right"/><br/>
<strong><span class="orange">Dedicated Agents  </span></strong><br/> 
<p>If you wish to have a dedicated agent to answer only your calls we can arrange to set your call routing to be directed to an agent specifically assigned to you. This live receptionist will receive calls for the business, provide direction and instructions to your customers and take information from your client whether its questions or orders.</p>



<br/>
<strong><span class="orange">Toll Free No 800 number</span></strong><br/> 
<p>Phone calls are a vital aspect of every business these days and we consider it as a backbone of any business no matter whether you a small organization or a mid-sized firm. We provide our customers with a toll-free 800 number that will be an extra advantage for any organization.</p>


<br/>
<strong><span class="orange">Our Telephone Answering services offer the following benefits:</span></strong><br/> 
<ul class="important">
	
<li> Local business telephone number </li>
<li> Toll free number </li>
<li> Professionally managed business call center, answering phone calls in your company's name. </li>
<li> Dedicated receptionist to receive calls, take messages or transfer calls to your personal number.</li>
<li> Calls answered by a receptionist in your company name 24/7, 365 days a year, as per your requirement. </li>
<li> During holidays or extended trips away from your business, special instructions can be given to reception with regards to the handling of your incoming calls during that period. </li>

	</ul>
     </div>       
        </div>
 
        
        
        <div>
		<div class="ser-img">
            <h4> Video Conferencing:</h4>
				
			<p>All office locations are equip with state-of-the-arts communication tools to conduct remote meetings and conferences with clients and headquarter. <img src="images/fax.gif" alt="" style="float:right" />  </p>
<br/>     
<strong><span class="orange">Fax</span></strong><br/>
<p>A fax number is also provided by ANNEXIS mainly for the business communication. This facility helps our clients in receiving fax from anywhere in the world. Incoming faxes will be forwarded to you via email. </p>

<br/> 
<strong><span class="orange">Reliable, fast, optimized Internet & Wi-Fi access</span></strong><br/>

<p>All our Virtual offices use the best technology to make available to you the latest in high-speed Internet connection. Keeping you connected to the Internet and eliminates any lag time during web surfing and video conferencing with potential clients. 
</p>
            
            </div>
            
            
    
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div>
		<div class="ser-img">
            <h4>Mail Handling & Delivery </h4>
           
<p>Since <strong>customer service</strong> is one of our top priority; we also want the same for your clients. <strong> “Good customer service requires timely response”</strong> to clients request and inquiry.   <img src="images/mail-img1.png" alt="" style="float:right" />  </p>

<p>So how do we intent to ensure your ability to respond to your clients in a timely fashion when you are not in the US? </p>
 <h3 class="h3class">ANNEXIS Customer Care Mail Handling & Delivery Services -</h3>
 <ul class="item-list">
  
<li> ANNEXIS Trained representative will scan all pages of your mail and email them to you same day received.  No delay on correspondences. <img src="images/mail-hadling-img1.png" alt="" style="float:right" /> </li>
<li> All the original mails will be bundled and ship to you through a reputable international courier like FEDEX or DHL at a location of your choosing. </li>

</ul>
        
</div>

			
        </div>
		
        
        
        
        
        
    
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        	
</div>                      
</div>
</div>
</div>
<!--END MAIN CONTENT AREA-->
<!--FOOTER-->
<!-- START WIDGET AREA AND SOCIAL ICONS -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="textwidget">
           <a href="#">     <img src="assets/images/footer-logo.png"/> </a>
                    <br>
                    <br>
                    
                    <div class="textwidget">
                    <ul class="unstyled">
                        <li><i class="icon-user  icon-white"></i> +1 800 2000 600</li>
                        <li><i class="icon-envelope icon-white"></i> contact@sitename.com</li>
                        <li><i class="icon-map-marker icon-white"></i> 9930 124th Northeast Kirkland, Washington</li>
                    </ul>
                </div>
                    
                </div>
            </div>

            <div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
            
<div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
            
            
            <div class="span3">
                <h5>Contact Information</h5><hr>         
                <div class="textwidget">
<ul class="unstyled">
  <li> <a href="#"> Business Centres </a></li>
  <li> <a href="#"> Offices </a></li>
  <li> <a href="#"> Virtual Offices </a></li>
  <li> <a href="#"> Meeting Facilities </a></li>
  <li> <a href="#"> Businessworld </a></li>
  <li> <a href="#"> Business Lounges </a></li>
  <li> <a href="#"> Workplace Recovery </a></li>
  <li> <a href="#"> Video Conferencing </a></li>
                    </ul>
                </div>
            </div>
            
                        
                 <!-- END WIDGET -->
            
                        </div>
                    </div>
                </div>
                <!-- END WIDGET AREA AND SOCIAL ICONS -->

                <!--START BOTTOM LINE-->
                <div class="bottom_line">
                    <div class="container">
                        <div class="row">
                            <!-- START COPYRIGHT INFORMATION-->
                            <div class="span6">
                                <span style="font-size:14px;">Copyright 2014 Annexis. Design by <a href="http://appalmighty.com/">appalmighty</a></span>
                            </div>
                            <!-- END COPYRIGHT INFORMATION-->
                            <div class="span6">
                               <!-- START FOOTER MENU-->
                               <div class="copyright pull-right visible-desktop">
                                <div class="menu-footer-menu-container">
                                    <ul class="unstyled footer_menu" id="menu-footer-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="Customer Referral.html">Customer Referral</a></li>
                                        <li><a href="Customer Referral.html">Terms & Condition</a></li>
                                        <li><a href="contacts.html">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END FOOTER MENU-->
                        </div>
                    </div>
                </div>
            </div>
            <!--END BOTTOM LINE-->
            <!--END FOOTER-->
            </div>
            </div>

<a href="#" class="scrollToTop"></a>
<script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/core.js"></script>

            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="assets/js/jquery.min.js"></script>
            <!-- jQuery REVOLUTION Slider  -->
            <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
            <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <script src="assets/js/jquery.tweet.js"></script>
            <script src="assets/js/google-code-prettify/prettify.js"></script>
            <script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/jquery.easing.1.3.js"></script>
            <script src="assets/js/superfish-menu/superfish.js"></script>
            <script src="assets/js/jquery.nivo.slider.js"></script>
            <script src="assets/js/jquery.prettyPhoto.js"></script>
            <script src="assets/js/jflickrfeed.min.js"></script>
            <script src="assets/js/testimonialrotator.js"></script>
            <script src="assets/js/jquery.waitforimages.js"></script>
            <script src="assets/js/jquery.isotope.min.js"></script>
            <script src="flexslider/jquery.flexslider-min.js"></script>
         
            <script src="assets/js/custom.js"></script>
            
            <script type="text/javascript">
            jQuery.noConflict()(function ($) {
              $(window).load(function() {
               $('.flexslider').flexslider({animation: "slide", controlNav: false,});
           });
          });
            </script> 



                            
                    
	<script type="text/javascript" src="assets/js/tabslide.js"></script>
    <script type="text/javascript" src="assets/js/jquery.cookie.js"></script>
   
<script src="js/jquery-1.10.2.min.js"></script>

</body>


</html>